// COLORS

$turquoise-dark: rgb(0, 137, 151);
$turquoise-60: #67b9c1;
$turquoise-light: #d0e8ec;

$orange-dark: rgb(234, 74, 26);
$orange-o6: rgba(234, 74, 26, 0.6);
$orange-60: #f29275;
$orange-o2: rgba(234, 74, 26, 0.2);
$orange-light: #fbded5;

$pink-dark: rgb(233, 30, 100);
$pink-60: #f278a2;
$pink-40: #f7aec7;
$pink-light: #fedee6;

$yellow: #fef4de;

$ocean: #16c1d2;
$ocean-o-40: rgba(22, 193, 210, 0.4);
$ocean-20: #d0f3f6;

// purple
$purple-dark: rgb(33, 23, 179);
$purple: rgb(53, 43, 199);

$purple-o6: rgba(33, 23, 179, 0.6);
$purple-o-50: rgba(113, 103, 254, 0.5);
$purple-o-40: rgba(33, 23, 179, 0.4);
$purple-o2: rgba(33, 23, 179, 0.2);

$purple-60: #7973d1;
$purple-30: #9f99f8;
$purple-20: #d6d4f4;
$purple-18: #d6d7f2;

$purple-bright-darker: #564ce6;
$purple-bright: #7369fe;

// dark
$darker: #1b1c28;
$dark: rgba(77, 73, 94, 1);
$dark-90: #6d6a7f;
$dark-70: #5b5c67; // Passes AAA
$dark-50: rgba(77, 73, 94, 0.7);
$dark-15: rgba(77, 73, 94, 0.15);
$dark-07: rgba(77, 73, 94, 0.07);

$dark-mode-background: #1b1c28;
$dark-mode-90: #292a3d;
$dark-mode-80: #434665;
$dark-mode-20: #8b8fb1;
$dark-mode-10: #b6b8c8;

$grey-15: #edeef1;
$grey-10: #f5f6fa;

$dark-model-link-color: $purple-30;

$dark-mode-focus-color: $purple-o-50;
$dark-mode-focus: 0 0 0 2px $dark-mode-focus-color;

// shadow
$shadow-color-std: rgba(0, 0, 0, 0.07);
$shadow-std: 0 1px 2px $shadow-color-std;
$shadow-color-darker: rgba(0, 0, 0, 0.2);
$shadow-darker: 0 1px 2px $shadow-color-darker;
$shadow-color-darkest: rgba(0, 0, 0, 0.3);
$text-shadow: 0 0 10px $shadow-color-darkest;

$image-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

$light-border: $dark-15;
$text-color: $dark;

// whitespace
$ws-xs: 0.4rem;
$ws-s: 0.8rem;
$ws-m: 1.6rem;
$ws-l: 2.4rem;
$ws-xl: 3.2rem;
$ws-xxl: 4.8rem;
$ws-xxxl: 6.4rem;

// breakpoints
$desktop-breakpoint: 850px;
$mobile-breakpoint: 550px;

$mobile-filter-height: 5.6rem;

$filter-desktop-width: 27rem;
