// COLORS

$turquoise-dark: #008997;
$turquoise-light: #d0e8ec;

$orange-dark: #ea4a1a;
$orange-light: #fbded5;

$pink-dark: #e91e64;
$pink-light: #fedee6;

$ocean: #16c1d2;
$ocean-20: #d0f3f6;

// purple
$purple-dark: #2117b3;
$purple: #352bc7;
$purple-bright: #7369fe;
$purple-30: #9f99f8;
$purple-20: #d6d4f4;
$purple-18: #d6d7f2;
$purple-trans-50: hsla(244, 99%, 70%, 0.5);

// dark
$dark: rgba(77, 73, 94, 1);
$dark-15: rgba(77, 73, 94, 0.15);
$dark-07: rgba(77, 73, 94, 0.07);

$dark-mode-background: #1b1c28;
$dark-mode-90: #292a3d;
$dark-mode-80: #434665;
$dark-mode-20: #8b8fb1;
$dark-mode-10: #b6b8c8;

$grey-15: #edeef1;
$grey-10: #f5f6fa;

$dark-model-link-color: $purple-30;

$dark-mode-focus-color: $purple-trans-50;
$dark-mode-focus: 0 0 0 2px $dark-mode-focus-color;

// shadow
$shadow-color-std: rgba(0, 0, 0, 0.07);
$shadow-std: 0 1px 2px $shadow-color-std;
$shadow-color-darker: rgba(0, 0, 0, 0.2);
$shadow-darker: 0 1px 2px $shadow-color-darker;

$light-border: $dark-15;
$text-color: $dark;

// whitespace
$ws-xs: 0.4rem;
$ws-s: 0.8rem;
$ws-m: 1.6rem;
$ws-l: 2.4rem;
$ws-xl: 3.2rem;
$ws-xxl: 6.4rem;

// breakpoints
$mobile-breakpoint: 850px;
